.basicpopup-overlay {
  background: #000;
  height: 100%;
  left: 0;
  opacity: .1;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2000; }

.basicpopup-outer {
  display: table;
  height: 100%;
  left: 0;
  position: fixed;
  overflow-y:scroll;
  top: 0;
  width: 100%;
  z-index: 99999; }

.basicpopup-inner {
  display: table-cell;
  height: 100%;
  vertical-align: middle;
  width: 100%; }

.basicpopup-btn-close {
  -moz-user-select: none;
  background: transparent;
  border: 0 none;
  box-shadow: none;
  color: #000;
  cursor: pointer;
  display: block;
  font-family: Montserrat,monospace;
  font-size: 98px;
  font-style: normal;
  height: 56px;
  line-height: 54px;
  outline: medium none;
  overflow: visible;
  position: absolute;
  right: 33px;
  text-align: center;
  text-decoration: none;
  top: 0;
  width: 66px;
  z-index: 1046;
}
  .basicpopup-btn-close:hover, .basicpopup-btn-close:focus {
    opacity: 1; }

.basicpopup-content {
  margin: 0 auto;
  position: relative;
  width: auto; }
@media only screen and (max-width:767px){
.basicpopup-btn-close {
  font-size: 50px;
  height: 46px;
  line-height: 26px;
  right: 14px;
  width: 40px;
}
  }