*{
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
}
a:focus{
  outline:none;
}
textarea{
  resize:vertical;
}
textarea:focus {
    outline: none;
}
.img-responsive {
  max-width:100%;
}
.clear {
    clear: both;
}
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat.eot');
    src: url('../fonts/MontserratAlternates-Light.eot');
    src: url('../fonts/Montserrat-Bold.eot');
    src: url('../fonts/Montserrat.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Montserrat.ttf') format('truetype'),
         url('../fonts/Montserrat.svg#Montserrat') format('svg');
    font-weight: normal;
    font-style: normal;
}
.section .animated {
  opacity:0;
}
/* header start */
.c-hamburger {
    display: block;
    position: relative;
    overflow: hidden;
    float: right;
    margin: 0;
    width: 56px;
    height: 49px;
    font-size: 0;
    text-indent: -9999px;
    appearance: none;
    cursor: pointer;
  border:0 none;
  padding:5px;
    background-color: rgba(36,22,9,0.4);
}
.c-hamburger:focus {
    outline: none;
}
.c-hamburger span {
    display: block;
    position: absolute;
    top: 24px;
    left: 7%;
  width:86%;
    right: 18px;
    height: 3px;
    background: #fff;
}
.c-hamburger span::before,
.c-hamburger span::after {
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 3px;
    background-color:  #fff;
    content: "";
}
.c-hamburger span::before {
    top: -14px;
}
.c-hamburger span::after {
  bottom: -13px;
  width: 60%;
  right: 0;
  left: auto;
}
.c-hamburger.c-hamburger--htx span {
    transition: background 0s 0.3s;
}
.c-hamburger.c-hamburger--htx span::before,
.c-hamburger.c-hamburger--htx span::after {
    transition-duration: 0.3s, 0.3s;
    transition-delay: 0.3s, 0s;
  
}
.c-hamburger.c-hamburger--htx span::before {
    transition-property: top, transform;
}
.c-hamburger.c-hamburger--htx span::after {
    transition-property: bottom, transform;
}
.c-hamburger.c-hamburger--htx.is-active span {
    background: none;
}
.c-hamburger.c-hamburger--htx.is-active span::before,
.c-hamburger.c-hamburger--htx.is-active span::after {
    transition-delay: 0s, 0.3s;
  background-color:#fff;
}
.c-hamburger.c-hamburger--htx.is-active span::before {
    top: 0;
    transform: rotate(45deg);
}
.c-hamburger.c-hamburger--htx.is-active span::after {
    bottom: 0;
    transform: rotate(-45deg);
  width:100%;
}
.header {
  width:100%;
  float:left;
}
.logo{
  position: fixed;
  top: 0;
  left: 0;
  padding:25px 45px;
  z-index:9999;
}

/*.logo a {
  width: 72px;
  background-image: url('../imgs/logo.png');
  background-repeat: no-repeat;
  background-size: 100%;
  display: inline-block;
  height: 98px;
  background-color: rgba(36,22,9,0.4);
  padding: 8px 10px;
  background-position: center;
}
.logo a:hover , .logo a.active{
  background-image: url('../imgs/logo-hover.png');
}*/
.logo img {
    width: 60px;
    height: auto;
}
.logo img:hover {
    opacity: 0.9;
    transition: 1s;
}
.menu-bar{
  position: fixed;
  top: 0;
  right: 0;
  padding:25px 45px;
  z-index:9999; 
}
/* header end */

/* nav start */
.nav-left-box {
    width:250px;
    height: 100%;
    background: #fff;
    float: left;
    position: relative;
}
a.active {
    display: block;
}
.navbar-rotate {
    top: 35%;
    text-transform: uppercase;
    font-weight: bold;
    color: #000;
    position: absolute;
    transform: rotate(90deg);
    font-size: 32px;
    left: 0;
    right: 0;
}
.navbar-rotate a{
  color: #000;
}
.navbar-social-icon{
  position: absolute;
  top:39%;
  left: 0;
  right: 0;
  margin: auto;
}
.navbar-social-icon a{
  color: #000;
  font-size: 20px;

}
.navbar-social-icon li {
    padding:8px 0;
}
.nav-contact {
    width: 50%;
    float: left;
    position: absolute;
    right:-15%;
    top:0;
    text-align: left;
}
.nav-contact a{
  color: #787d82;
  font-size: 22px;
  font-weight: lighter;
  padding: 6px 0;
  display: block;
}
.nav-contact a:hover {
    color: #fff;
    transition: 1.5s;
}
.nav-contact span{
  display: inline-block;
  margin-top: 15px;
}
.nav-contact p{
  color:#787d82;
  font-size: 22px;
  margin-top: 48px;
  font-weight:lighter;
}
.navbar-btn {
    position: relative;
    display: inline-block !important;
    overflow: hidden;
    min-width: 150px;
    margin-right: 13px;
    margin-top: 48px;
    border: 1px gray solid;
    padding:12px 97px !important;
    font-size: 16px !important;
    text-transform: uppercase;
    color: #2b2b2b !important;
    z-index: 11;
    -webkit-transition: all 0s ease 0s;
    font-weight: bold !important;
}
.navbar-btn::before {
    background-color: #fff;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transform: translateY(0%);
    -moz-transform: translateY(0%);
    -webkit-transform: translateY(0%);
    transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    width: 100%;
    cursor: pointer;
    z-index: -1;
}
.navbar-btn:hover:before {
   transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  color: #000 !important;
}
a.navbar-btn:hover {
    color: #fff!important;
}
.d-none{
  display: none;
}
.d-block{
  display: block;
}
nav {
  background-image: url(..//imgs/nav-bg.jpg);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  text-align: center;
  z-index:999;
  display:none;
  background-size: cover;
    background-position: right;
}
ul.nav {
    width: 530px;
    position: relative;
    left:351px;
    text-align: left;
    font-color:rgb(255,255,255);
}
.nav li {
    padding: 9px 0;
}
.center {
    width: 80%;
    float: right;
    position: absolute;
    top:26%;
    bottom: 50%;
    left: 230px;
    right: 50%;
}
.main-nav {
    width: 50%;
    float: left;
}
nav .nav li a{
  font-size:38px;
  color:#fff;
  font-weight:300;
  font-style:normal;
  text-transform: uppercase;
}
nav  .nav li.active a , nav  .nav li a:hover{
  color:#787d82;
  transition: 1.5s;
  font-weight: 400;
}
.nav-inner {
  display:table;
  width:100%;
  height:100%;
}
.nav-inner ul.nav{
  
}
.nav-box {
  display:table-cell;
  vertical-align:middle;
}
.terms-links {
    color: #f4eee4;
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 16px;
    line-height: 18px;
    position: absolute;
    right: 0;
    left: 19%;
    margin: auto;
    bottom: 24px;
}
.terms-links li {
  display:inline-block;
  position:relative;
  padding:0 8px;
}
.terms-links li a {
  color:#f4eee4;
}
.terms-links li:before {
  content:'';
  position:absolute;
  top:0;
  left:0;
  height:100%;
  width:1px;
  background-color:#f4eee4;
  
}
.terms-links li:first-child:before{
  content:none;
}
.social-links {
  margin-top:80px;
  color:#f4eee4;
  font-size:16px;
}
.social-links li {
  display:inline-block;
  padding:0 8px;
}
.social-links a{
  color:#f4eee4;
}
/* nav end */

/* banner section start */
.banner-home{
  background-image:url('../imgs/home.jpg');
  background-repeat:no-repeat;
  background-size:cover;
}
.banner-home h2{
  font-family: 'Montserrat-Medium', sans-serif;
  font-weight:300;
  font-size:42px;
  line-height:60px;
  color:#fff;
  text-transform:uppercase;
  margin:0 0 25px 0;
}
a.typewrite.text-white {
    font-family: 'Montserrat', sans-serif;
    font-weight:lighter;
    font-size: 25px;
    color: #fff;
}
.banner-home h3{
  font-family: 'Montserrat-Blod', sans-serif;
  font-size:70px;
  line-height:normal;
  color:#fff;
  text-transform:uppercase;
  margin:0 0 20px 0;
}
.banner-home h4{
  font-family: 'Montserrat', sans-serif;
  font-weight:100;
  font-size:24px;
  color:#fff;
}
/* banner section end */

/* gallery-section start */
.gallery-section li{
  float:left;
  width:33.3%;
  position:relative;
  cursor:pointer;
}
.gallery-section li:hover .hover-effect {
  height:100%;
  width:100%;
}
.hover-effect {

  position:absolute;
  top:auto;
  left:auto;
  width:0%;
  height:0%;
  overflow:hidden;
  /*
  background-color:rgba(69,51,24,0.78);*/
}
.hover-effect h2{
  color:#fff;
  font-family: 'Montserrat', sans-serif;
  font-weight:400;
  font-size:16px;
  text-transform:uppercase;
  margin:0 0 20px 0;
}
.hover-effect h3{
  color:#fff;
  font-family: 'Montserrat', sans-serif;
  font-weight:400;
  font-size:20px;
  text-transform:uppercase;
}
.hover-table {
  display:table;
  width:100%;
  height:100%;
}
.hover-tablecell {
  display:table-cell;
  vertical-align:middle;
}
.gallery-section li img{
  float:left;
  width:100%;
}
.portfolio1:hover{
  background-image: linear-gradient(to left top, #354567, #584a7b, #854a83, #b1467a, #d34963);
  opacity: 0.8;
}
.portfolio2:hover{
  background-color: #2ac4af;
  opacity: 0.8;
}
.portfolio3:hover{
  background-color: #35df79;
  opacity: 0.8;
}
.portfolio4:hover{
background-image: linear-gradient(to left top, #27211d, #583920, #8a5320, #bf6e1a, #f58b03);
  opacity: 0.8;
}
.portfolio5:hover{
  background-color:#767de8;
  opacity: 0.8;
}
.portfolio6:hover{
 background-image: linear-gradient(to right bottom, #10b153, #00c4ab, #4ccfe2, #aed7f1, #e3e4e8);
  opacity: 0.8;
}
.portfolio9:hover{
  background-image: linear-gradient(to right bottom, #793bca, #7c6bda, #8d93e2, #abb7e3, #d5d8df);
  opacity: 0.8;
}
.portfolio8:hover{
  opacity: 0.8;
background-image: linear-gradient(to right bottom, #df8b5d, #dd8660, #db8062, #d87c65, #d47768);  opacity: 0.8;
}
.portfolio7:hover{
  opacity: 0.6;
  background-image: linear-gradient(to right bottom, #4ca5ff, #07b7ff, #00c8ff, #00d8ff, #04e6fe);}
.hover-effect h1{
  font-size: 25px;
  color: #fff;
  font-weight: normal;
  text-transform: uppercase;
}
/* gallery-section start */

/* testimonial section start */
.testimonial-section {
  background-image:url('../imgs/Contact-Page.jpg');
  background-repeat:no-repeat;
  background-size:cover;
}
.testimonial-inner{
  padding:0 15%;
}
.testimonial-section p{ 
  font-family: 'Montserrat', sans-serif;
  font-weight:100;
  font-size:24px;
  line-height:46px;
  color:#fff;
  padding:70px 0 70px 0;
  position:relative;
}
.testimonial-section h2{
  font-family: 'Montserrat', sans-serif;
  font-weight:400;
  font-size:16px;
  color:#fff;
  text-transform:uppercase;
  margin:0 0 35px 0;
}
.testimonial-section h3{
  font-family: 'Montserrat', sans-serif;
  font-weight:400;
  font-size:16px;
  text-transform:uppercase;
  color:#fff;
}

/* Contact section start */
.contact-top {
  padding:0 90px;
}
.contact-page{
  background-image:url('../imgs/contact-bg1.jpg');
  background-repeat:no-repeat;
  background-size:cover;
}
.font_oswld{
  font-family: 'Oswald', sans-serif;
}
.h2-heading{
  font-family: 'Oswald', sans-serif;
  text-transform:uppercase;
  color:#fff; 
  font-size:45px;
  margin:40px 0 10px 0;
  letter-spacing: 1px;
}
.contact-bottom {
  float: left;
  margin: 0 0 40px;
  width: 100%;
  padding: 0 60px;
}
.contact-page h3{
  font-family: 'Montserrat', sans-serif;
  font-weight:700;
  font-size:60px;
  line-height:60px;
  color:#f4eee4;
  text-transform:uppercase;
  margin:0 0 20px 0;
}
.contact-page h4{
  font-family: 'Montserrat', sans-serif;
  font-weight:100;
  font-size:24px;
  color:#f4eee4;
}
.group.full-width {
  width:90%;
}
.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
input.custom-file-input {
    border-bottom: 0px !important;
    color: transparent !important;
    padding: 20px 0 !important;
    cursor: pointer;
}
.custom-file-input::before {
  display: inline-block;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
}
.br-dashed{
  border:1px solid #757575;
  border-style: dashed ;
  text-align: center;
}

.attch {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}
.attch  p {
    color: #fff;
    display: inline-block;
}
.plus:before {
    content: "+";
    font-style: normal;
    font-weight: 400;
    color: #fff;
    font-size: 37px;
    position: relative;
    top: 5px;
}

/* Contact section start */

/* form starting stylings ------------------------------- */
.career-section .submit-iner {
  min-width:100%;
}
/*
.submit-iner {
  position:relative;
  display:inline-block;
  overflow:hidden;
  min-width:390px;
  margin-bottom:40px;
}
.submit-iner::before {
    background-color: rgba(121, 121, 96, 0.6);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
  transform: translateY(0%);
    -moz-transform: translateY(0%);
    -webkit-transform: translateY(0%);
    transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    width: 100%;
    cursor:pointer;
}
.submit-iner:hover:before {
    transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
}
.group input[type="submit"] {
    border: 1px solid #797960;
    cursor: pointer;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    font-size: 14px;
}*/
button.submit-btn {
    position: relative;
    display: inline-block !important;
    overflow: hidden;
    min-width: 150px;
    border: 1px gray solid;
    margin-top: 21px;
    padding:12px 134px !important;
    font-size: 16px !important;
    text-transform: uppercase;
    color: #2b2b2b !important;
    z-index: 11;
    -webkit-transition: all 0s ease 0s;
    font-weight: bold !important;
    cursor: pointer;
    background: transparent;
}
button.submit-btn::before {
    background: #fff;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transform: translateY(0%);
    -moz-transform: translateY(0%);
    -webkit-transform: translateY(0%);
    transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    width: 100%;
    cursor: pointer;
    z-index: -1;
}
button.submit-btn:hover:before {
   transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    color: #000 !important;
}
button.submit-btn:hover {
    color: #fff!important;
}
.group { 
    position:relative; 
    margin-bottom:30px; 
    width:40%;
    float:left;
    margin:20px 5%;
}
.group input , .group textarea, .group select {
  font-family: 'Montserrat', sans-serif;
    font-size:16px;
    font-weight:300;
    padding:10px 10px 10px 5px;
    display:block;
    width:100%;
    border:none;
    color:#fff;
    background-color:transparent;
    border-bottom:1px solid #757575;
    position: relative;
    z-index: 111;
}
.group select {
    -moz-appearance: none;
  /* background-image: url("../imgs/dropdown-arw.png");*/
    background-position: right center;
    background-repeat: no-repeat;
}
.group select option{
    background-color:#797960;
}
.group input:focus { outline:none; }

/* LABEL ======================================= */
.group label {
    color:#fff !important; 
    font-size:16px;
    font-weight:300;
    position:absolute;
    pointer-events:none;
    left:5px;
    top:10px;
    letter-spacing: 0.09em;
    transition:0.2s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;

}
.group label:focus{
    outline: none;
}
/* active state */
.group input:focus ~ label, .group input:valid ~ label , .group textarea:focus ~ label, .group textarea:valid ~ label     {
    top:-10px;
    font-size:13px;
    color:#797960;
}

/* BOTTOM BARS ================================= */
.bar  { position:relative; display:block; width:100%; }
.bar:before, .bar:after   {
    content:'';
    height:2px; 
    width:0;
    bottom:1px; 
    position:absolute;
    background:#797960; 
    transition:0.2s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
}
.bar:before {
    left:0%;
}
.bar:after {
    right:0%; 
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after , textarea:focus ~ .bar:before, textarea:focus ~ .bar:after {
    width:100%;
}

/* HIGHLIGHTER ================================== */
.highlight {
    position:absolute;
    height:60%; 
    width:100px; 
    top:25%; 
    left:0;
    pointer-events:none;
    opacity:0.5;
}

.skills-set {
    float:left;
    width:25%;
    text-align:left;
}
.skills-set p {
    margin:10px 0 0 0;
    position:relative;  
}
.skills-set input[type="radio"], .skills-set input[type="checkbox"], .skills-set input[type="radio"], .select-card input[type="checkbox"] {
    display: none;
}
.skills-set input[type="checkbox"]:checked + label.label-txt, .skills-set input[type="radio"]:checked + label.label-txt {
    background-position: 1px -31px;
    height: 22px;
    color:#fff;
}
.skills-set input[type="checkbox"] + label.label-txt, .skills-set input[type="radio"] + label.label-txt {
    -moz-user-select: none;
    background-image: url("../imgs/radio2.png");
    background-position: 1px 0;
    background-repeat: no-repeat;
    color:#c3c6ca;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    height: 22px;
    padding-left: 32px;
    text-align: left;
    transition: background-position 0s ease 0s;
    vertical-align: middle;
}




label.input-text-1.label-txt.checked:hover {
    color: #fff;
}
label.input-text-1.label-txt.checked2:hover {
    color: #fff;
}
/* team section start */
  .team-section{
    background-image:url('../imgs/about-team-bg.jpg');
    background-repeat:no-repeat;
    background-size:cover;
  }

  .service-bg{
     background-image:url('../imgs/contact-bg1.jpg') !important;
  }
  .sevices-list-bg{
     background-image:url('../imgs/sevices-bg.jpg') !important;
  }
  .team-section h2 {
    font-size: 90px;
    color:#fff;
    font-weight:300;
    text-transform:uppercase;
    font-family: 'Montserrat', sans-serif;
    margin-top: 60px;
  }
/* team section end */

/* footer section start */
.main-footer-bg2{
  background-image:url('../imgs/footer-bg2.jpg');
  background-repeat:no-repeat;
  background-size:cover;
}
.footer-text2 {
    width: 50%;
    margin: auto;
}
.footer-text2 p{
  font-size: 16px;
  color: #fff;
  padding: 40px 0 0;
  line-height: 30px;

}
.row.footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}
.footer-text2 h4 {
    margin-top: 25px;
    color: #fff;
    font-size: 22px;
}
.footer-img2 {
    padding: 40px 0 0;
}
.footer-img2 img {
    margin: 0 13px;
    background-color: rgba(65, 65,65,50%);
}
.footer-social-icon2 {
    padding:40px 0;

}
.footer-social-icon2 i {
    color: #fff;
    font-size: 25px;
    margin: 0 18px;
}
.footer-nav2 ul {
    padding: 0px;
    margin: 0px;
}
.footer-nav2 ul li {
    list-style: none;
    display: inline;
    padding: 0 20px;
}
.footer-nav2 ul li a {
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
}
.footer-Copyright2 {
    color: #fff;
    width: 50%;
    margin: 40px 0;
    float: left;
}

/* footer section end */
/* about section start */
.about-section {
  background-image:url('../imgs/about-top-bg.jpg');
  background-repeat:no-repeat;
  background-size:cover;
  padding:0 100px;
}
/* .about-left {
  display:inline-block;
  width: 15%;
  text-align: left;
  vertical-align:middle;
} */
.about-left li {
  margin:10px 0;
  width:100%;
  float:left;
}
.about-left li a {
  color:#f5ead7;
  font-family: 'Montserrat', sans-serif;
  font-size:18px;
  font-weight:300;
}
.about-right {
  display:inline-block;
  width: 80%;
  vertical-align:middle;
}
.about-right p {
  color: #fff;
  font-family: "Montserrat",sans-serif;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 0.05em;
  line-height: 38px;
}
/* about section end */


/* Inner Portfolio */
.port-inner-page {
  background-color: #fff;
  height: 100vh;
  overflow-y: scroll;
  width: 100%;
}
.project-logo {
       margin: auto;
    padding-top: 65px;
    padding-bottom: 40px;
    position: relative;
    left: 0;
    width: 90%;
}
.project-logo img {
  width: 7%;
    position: absolute;
    top: 16px;
    left: 0;
}
img.project-img {
    max-width: 100%;
    margin-bottom: 50px;
}
.port-inner-page .inner-head-bg {
    background-image: url('../imgs/bg-port.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.port-inner-page h3 {
  color: #18191a;
  font-size: 47px;
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  letter-spacing: 3px;
  margin-bottom: 60px;
}
p.inner-center-text {
    color: #393939;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight:normal;
    line-height: 33px;
}
.purchase-btn {
    position: relative;
    display: inline-block !important;
    overflow: hidden;
    min-width: 150px;
    margin-top: 48px;
    border: 1px gray solid;
    padding:12px 97px !important;
    font-size: 16px !important;
    text-transform: uppercase;
    color: #2b2b2b !important;
    z-index: 11;
    -webkit-transition: all 0s ease 0s;
    font-weight: bold !important;
    left:10%;
}
.purchase-btn::before {
    background-color: #fff;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transform: translateY(0%);
    -moz-transform: translateY(0%);
    -webkit-transform: translateY(0%);
    transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    width: 100%;
    cursor: pointer;
    z-index: -1;
}
.purchase-btn:hover:before {
   transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  color: #000 !important;
}
a.purchase-btn:hover {
    color: #fff!important;
}
.prev-next-project{
  width: 100%;
}
.prev-project, .next-project{
  width: 50%;
  float: left;
  position: relative;
}
.prev-project:hover .project-overlay{
  opacity: 0.9;
  transition: 0.75s;
}
.next-project:hover .project-overlay{
  opacity: 0.9;
  transition:  0.75s;
}
.project-overlay{
  background-color: #000;
  opacity:0;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.project-text{
  color: #fff;
  font-size: 30px;
  position: absolute;
  top: 40%;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: auto;

  text-align: center;
  text-transform: uppercase;
}
.inner-center-text {
    padding: 60px 100px;
}
.inner-responsive {
    padding: 30px 80px;
    margin-bottom: 30px;
    width: 100%;
    display: inline-block;
}
.inner-responsive-left {
    float: left;
    width: 35%;
}
.inner-responsive-left img {
  width:100%
}
.inner-responsive-right {
    float: right;
    width: 60%;
    text-align: left;
}
.inner-responsive-right h2 {
    font-size:36px;
    text-transform: uppercase;
    color:#3e3e3e;
    font-family: 'Montserrat', sans-serif;
  letter-spacing: 2px;
  margin-bottom: 18px;
  }
.inner-responsive-right p{
    color: #000000;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    line-height: 33px;  
}
.inner-banner {
    width: 100%;
    max-width: 100%;
    margin-bottom: 63px;
    background-image: url(..//imgs/banner3.jpg);
    height:auto;
    background-repeat: no-repeat;
    text-align: left;
    position: relative;
    background-position: center;
    padding: 39px 0;
}
.inner-banner h3{
    color: #fff;
    font-size:36px;
    width: 80%;
    margin: auto;
    position: relative;
    text-transform: uppercase;
    z-index: 111;
    margin-bottom: 40px;
    font-style: normal;
}
.inner-banner p{
    color: #fff;
    font-size:18px;
    width: 80%;
    margin: auto;
    position: relative;
    z-index: 111;
    margin-bottom: 20px;
}
.inner-banner-overlay{
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.6;
  position: absolute;
  top: 0;
}
.inner-bottom {
    width: 100%;
    display: inline-block;
  padding-right: 90px;
}
.inner-bottom-left{
    float: left;
    width: 38%;
}
.inner-bottom-right {
    float: right;
    width: 55%;
    text-align: left;
    padding:73px 0;
}
.inner-bottom-left img {
  width:100%;
  position:relative;
  top: 8px;
}
.inner-bottom-right p{
    color: #393939;
    font-size:18;
    font-family: 'Montserrat', sans-serif;
    font-weight:normal;
    line-height: 33px;  
}
.inner-footer{
  background-image: url('../imgs/footer-bg2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 38px 0;
}
.inner-footer h4 {
    color: #fff;
    font-size: 36px;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;
    font-weight: normal;
}

.themeforest-btn {
    position: relative;
    display: inline-block !important;
    overflow: hidden;
    min-width: 150px;
    margin-right: 13px;
    margin-top: 48px;
    border: 1px gray solid;
    padding:12px 60px !important;
    font-size: 16px !important;
    text-transform: uppercase;
    color: #2b2b2b !important;
    z-index: 11;
    -webkit-transition: all 0s ease 0s;
    font-weight: bold !important;
}
.themeforest-btn::before {
    background-color: #fff;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transform: translateY(0%);
    -moz-transform: translateY(0%);
    -webkit-transform: translateY(0%);
    transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    width: 100%;
    cursor: pointer;
    z-index: -1;
}
.themeforest-btn:hover:before {
   transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  color: #000 !important;
}
a.themeforest-btn:hover {
    color: #fff!important;
}
.last-section {
  height: 100%;
  color: #fff;
  width: 100%;
  display: table;
  position: absolute;
  top: 50%;
  text-transform: uppercase;
  font-size: 20px;
    font-weight: 700;
}
.last-section h3 {
    display: table-cell;
    vertical-align: middle;
}
.mobile-view {
  width: 670px;
  margin: 0 auto;
  position: relative;
}
.mobile-device {
  position: absolute;
  top: 0;
}
.inner-banner img {
    max-width: 100%;
}

/* Inner Portfolio */

/* Service */
.service-list {
    position: relative;
    display: inline-block !important;
    overflow: hidden;
    min-width: 150px;
    margin-top: 48px;
    border: 1px gray solid;
    padding:12px 97px !important;
    font-size: 16px !important;
    text-transform: uppercase;
    color: #2b2b2b !important;
    z-index: 11;
    -webkit-transition: all 0s ease 0s;
    font-weight: bold !important;
}
.service-list::before {
    background-color: #fff;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transform: translateY(0%);
    -moz-transform: translateY(0%);
    -webkit-transform: translateY(0%);
    transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    width: 100%;
    cursor: pointer;
    z-index: -1;
}
.service-list:hover:before {
   transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  color: #000 !important;
}
a.service-list:hover {
    color: #fff!important;
}
.services_list {
    float: left;
    margin-bottom: 30px;
    width: 20%;
}
.services_list span {
  font-size: 24px;
}
.ex-services {
    width: 100%;
    float: left;
    margin-top: 15px;
}
.intro {
    width: 80%;
    margin: 0 auto;
}
.services_list {
   width:33.3%;
}
.text {
    float: left;
    width: 100%;
}
.text h3 {
    color: #fff;
    font-size: 26px;
    text-transform: uppercase;
  margin-bottom: 100px;
}
.services_list li a {
    color:#c3c6ca;
    text-decoration: none;
}
.services_list li a:hover {
    color: #fff;
}
.services_list li {
    line-height: 25px;
    color: #fff;
    font-size: 14px;
    letter-spacing: 2px;
  text-align: left;
  margin-bottom: 8px;
}

.services_list li span a {
    color:#fff;
  font-size:24px;
}
/* Service */
.sl-about {
  color: #fff;
  margin: 0 auto;
  padding: 10% 0;
  width: 80%;
}
.sl-about-left {
  float: left;
  text-align: left;
  width: 60%;
}
.sl-about-left h2 {
  color:#fff;
}
.sl-about-left p {
  font-size: 16px;
  line-height: 28px;
  margin: 8px 0;
  text-align: justify;
  font-weight: 300;
  color: #fff;
}
.sl-about-left p  span {
  color:#ffffff;
}
.sl-about-right {
  float: right;
  text-align: left;
  width: 30%;
}
.sl-about-right .group {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}
.sl-about-right .submit-iner {
  min-width: 100%;
}
.map-overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.4;
}

.vaccancy-section {
  background-image:url('../imgs/vaceny.jpg');
  background-repeat:no-repeat;
  background-size:cover;
}
.vaccancy-section h2 {
  font-size: 45px;
  color: #fff;
  text-transform: uppercase;
}
.vaccancy-section p {
  font-size: 26px;
  font-weight: 300;
  color: #fff;
}
.sl-car-left {
  float: left;
  margin: 30px 0;
  text-align: left;
  width: 48%;
}
.sl-vac {
  border: 1px solid #514f3c;
  margin: 0 0 15px;
}
.sl-vac h4 {
  float: left;
  font-size: 18px;
  font-weight: 300;
  color: #fff;
}
.sl-vac span {
  float: right;
  font-weight: 300;
}
.vac-head {
  border-bottom: 1px solid #514f3c;
  padding:14px 15px;
}
.vac-head h4 span {
  margin: 0 8px;
  color:#787d82;
}
.vac-detail {
  padding: 15px;
}
.vac-detail label {
  font-size: 16px;
  font-weight: 300;
}
.vac-detail p {
  font-size: 14px;
  line-height: 22px;
  margin: 0 0 15px;
  color: #fff;
}
.exp-detail li {
  background-image: url("../imgs/icn.png");
  background-repeat: no-repeat;
  font-size: 14px;
  font-weight: 300;
  margin: 12px 0;
  padding-left: 25px;
  background-position: 0 3px;
}
.sl-car-right {
  float: right;
  margin: 30px 0;
  width: 48%;
  text-align: left;
}

.our-journey-section {
  background-image:url('../imgs/our-journey.jpg');
  background-repeat:no-repeat;
  background-size:cover;
}

/* 9-3-17 - Blog Page*/

/*contact pages start*/

button.contact-us-btn {
    position: relative;
    display: inline-block !important;
    overflow: hidden;
    min-width: 150px;
    border: 1px gray solid;
    margin-bottom: 31px;
    padding:12px 134px !important;
    font-size: 16px !important;
    text-transform: uppercase;
    color: #2b2b2b !important;
    z-index: 11;
    -webkit-transition: all 0s ease 0s;
    font-weight: bold !important;
    background: transparent;
    cursor: pointer;
}
button.contact-us-btn::before {
    background-color:#fff;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transform: translateY(0%);
    -moz-transform: translateY(0%);
    -webkit-transform: translateY(0%);
    transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    width: 100%;
    cursor: pointer;
    z-index: -1;
}
button.contact-us-btn:hover:before {
   transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  color: #000 !important;
}
button.contact-us-btn:hover {
    color: #fff!important;
}
/*contact pages ends*/


/*services-inner start*/
.service-inner-custom h1{
  text-transform: uppercase;
  color: #fff;
  text-align: left;
  border-bottom: 1px gray solid;
  margin-bottom: 35px;
}
.service-inner-custom p{
  text-align: left;
  color: #fff;
  padding: 10px 0;
}
.services-get-tocuh-btn {
  position:relative;
  display:inline-block;
  overflow:hidden;
  min-width:390px;
  text-transform: uppercase;
  border: 1px #797960 solid;
  padding: 9px 0;
    color: #fff;
    float: left;
    margin-top: 40px;
}
.services-get-tocuh-btn::before {
  background-color: rgba(121, 121, 96, 0.6);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
transform: translateY(0%);
  -moz-transform: translateY(0%);
  -webkit-transform: translateY(0%);
  transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  width: 100%;
  cursor:pointer;
}
.services-get-tocuh-btn:hover:before {
   transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
}
/*services-inner ends*/
/*web design section start*/
.web-custom h1{
  text-transform: uppercase;
  color: #fff;
  text-align: left;
  border-bottom: 1px gray solid;
  margin-bottom: 35px;
  letter-spacing: 2px;
}
.web-custom p{
  text-align: left;
  color: #fff;
  padding: 10px 0;
}
.web-get-tocuh-btn {
    position: relative;
    display: inline-block !important;
    overflow: hidden;
    min-width: 150px;
    margin-top: 48px;
    border: 1px gray solid;
    padding:12px 97px !important;
    font-size: 16px !important;
    text-transform: uppercase;
    color: #2b2b2b !important;
    z-index: 11;
    -webkit-transition: all 0s ease 0s;
    font-weight: bold !important;
    float: left;
    margin-right: 30px;
}
.web-get-tocuh-btn::before {
    background-color: #fff;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transform: translateY(0%);
    -moz-transform: translateY(0%);
    -webkit-transform: translateY(0%);
    transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    width: 100%;
    cursor: pointer;
    z-index: -1;
}
.web-get-tocuh-btn:hover:before {
   transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  color: #000 !important;
}
a.web-get-tocuh-btn:hover {
    color: #fff!important;
}



/*web design section ends*/


@media only screen and (max-width:1280px){
  .banner-home h3 {
    font-size: 46px;
    line-height: 46px;
    margin: 0 0 20px 0;
  }
  .banner-home h2 {
    font-size: 32px;
    line-height: 32px;
    margin: 0 0 20px 0;
  }
  .banner-home h4{
    font-size:20px;
  }
  .gallery-section li {
    width: 50%;
  }
  .team-section h2 {
    font-size: 65px;
  }
  .contact-bottom {
    padding: 0 30px;
  }
}
@media only screen and (max-width: 1024px) {
  .fp-section{
    height: auto !important;
  }
  .footer-text2 {
    width: 95%;
}
}
@media only screen and (max-width:992px){
  .sl-vac span.vac-position {
    float: left;
    width: 100%;
  }
  .sl-vac h4 {
    width: 100%;
    font-size: 16px;
  }
  .vac-head {
    padding:11px 10px;
  }
  .skills-set {
    width: 50%;
  }
  .about-right p {
    font-size: 14px;
    line-height: 24px;
  }
  .banner-home h3 {
    font-size: 40px;
    line-height: 40px;
  }
  .banner-home h2 {
    font-size: 30px;
    line-height: 30px;
  }
  .testimonial-section p {
    font-size: 20px;
    line-height: 34px;
    padding: 50px 0 50px 0;
  }
  .testimonial-section p::before , .testimonial-section p::after{
    width: 44px;
    height: 32px;
    background-size: 100%;
  }
  .testimonial-section h2 {
    font-size: 14px;
    margin: 0 0 25px 0;
  }
  .testimonial-section h3{
    font-size: 14px;
  }
  .clapcha-box .skills-set {
    width: 100%;
    text-align:center;
  }
  .capcha-iner {
    text-align: center;
    width: 100%;
    margin-top:20px;
  }
  p.inner-center-text {
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 0px;
}
.inner-center-text {
    padding: 38px 46px;
}
.inner-responsive {
    padding: 30px 46px;
    margin-bottom: 16px;
}
.inner-responsive-right p {
   font-size: 18px;
}
.inner-responsive-right h2 {
    font-size: 36px;
    margin-bottom: 4px;
}
.purchase-btn {
    margin-top: 14px;
}
.inner-bottom {
    margin-bottom: 0px;
    padding-right: 38px;
}
.inner-banner p {
    margin-bottom: 11px;
}
.inner-banner {
    margin-bottom: 30px;
}
.themeforest-btn{
  margin-top: 7px;
}
.inner-bottom-right {
    float: right;
    width: 58%;
    text-align: left;
    padding: 16px 0;
}
.inner-bottom-right p {
    font-size: 18px;
    line-height: 30px;
}
.inner-footer h4 {
   font-size: 36px;
   margin-bottom: 29px;
}
.inner-footer {
   padding: 30px 0;
}
.inner-footer a {
    font-size: 22px;
}
.sl-about-left {
  width: 50%;
}
.sl-about-right {
  width: 42%;
}
}
@media only screen and (max-width:737px){
.center {
    margin-top: 15px;
}
nav {
   height:auto; 
}

  }
@media only screen and (max-width:767px){
  .bx-wrapper .bx-controls-direction a {
    height: 31px !important;
    width: 29px !important;
  }
   .footer-social-icon i {
      font-size: 16px;
      margin: 9px 10px;
  }
  .nav-left-box{
    width: 100%;
  }
  .navbar-rotate {
      top: 19%;
      font-size: 26px;
      left: -34px;
  }
  .nav-left-box ul li {
    float: left;
    padding: 0 10px !important;
  }
  .navbar-social-icon a {
    font-size:16px;
  }
  
  .d-none {
    display: block;
    height:6%;
    position: absolute;
    bottom: 0;
  }
  .d-block{
    display: none;
  }
  .nav-contact {
    left: 0px !important;
}
  .center {
    width: 100%;
    float: right;
    position: relative;
    left: 0;
    right: 0;
    margin-top:15px;
  }
  .nav-contact {
    width: 100%;
    position: relative;
    right: 0;
    left: 0;
    margin: auto;
  }
  ul.nav {
    left:0%;
    width: 40%;
    position: relative;
    left: 0;
    text-align: center;
    margin: auto;
  }
  .main-nav {
    width: 100%;
    float: none;
  }
  .nav-contact a {
    color:#acb3b9;
    font-size: 18px;
    text-align: center;
  }
  .terms-links li a {
      color: #f4eee4;
      font-size: 12px;
  }
  .nav-contact span {
      display: block;
      margin-top: 15px;
      text-align: center;
      margin: auto;
  }
  .service-list {
    margin-top:30px;
    padding: 12px 33px !important;
    font-size: 14px !important;
  }
  .nav-contact p {
    font-size: 18px;
    margin-top: 24px;
    text-align: center;
    color:#acb3b9;
  }
  .navbar-btn {
    padding: 11px 13px !important;
    display: block !important;
    position: relative;
    max-width: 100% !important;
    margin:24px 13px;
    color: #fff;
    letter-spacing: 2px;
}
  .submit-iner {
    min-width:100%; 
  }
  .submit-btn {
    margin-top: 5px;
    padding:12px 79px !important;
    font-size: 16px !important;
    margin-bottom: 50px;
  }
  .about-right {
    text-align: center;
    width: 100%;
  }
  .about-right p {
    font-size: 13px;
    line-height: 18px;
  }
  .about-left {
    display: none;
  } 
  .about-section {
    padding: 0 35px;
  }
  .team-section h2 {
    font-size: 28px;
  }
  .contact-bottom {
    padding: 0;
  } 
  .c-hamburger {
    width: 40px;
  }
 
  .group {
    margin: 15px 2%;
    width: 96%;
  }
  .group.full-width {
    width: 96%;
  }
  .contact-top {
    padding: 0 50px;
  }
  .contact-us-btn {
    padding: 12px 84px !important;
    font-size: 16px !important;
}
  .h2-heading {
    font-size: 18px;
    line-height: 30px;
    margin: 30px 0 10px;
  }
  .skills-set {
    width: 100%;
  }
  nav .nav li a {
    font-size: 16px;
    line-height: 28px;
  }
  .fp-slidesNav.bottom {
    bottom: 5px;
  }
  .terms-links li {
    padding: 0 5px;
  }
  .social-links {
    margin-top: 15px;
  }
  .terms-links {
    font-size: 12px;
    line-height: 18px;
    margin: 15px 0;
    margin-bottom:20px !important;
  }
  .footer-img2 img {
    margin: 0px 13px !important;;
    width: 90px !important;
    height: 84px !important;
    background-color: rgba(65,65,65,50%) !important;
  }
  .footer-Copyright2 p {
    margin: 0 6px !important;
    font-size: 70% !important;
  }
  .testimonial-section p::before , .testimonial-section p::after {
    width: 24px;
    height: 17px;
  }
  .testimonial-section p {
    font-size: 14px;
    line-height: 26px;
    padding: 20px 0 20px 0;
  }
  .testimonial-section h2 {
    font-size: 12px;
    margin: 0 0 15px 0;
  }
  .testimonial-section h3 {
    font-size: 12px;
  }
  .testimonial-inner {
    padding: 0 5%;
  }
  .logo , .menu-bar{
    padding: 10px 10px;
  }
  .logo a {
    width: 40px;
    background-size: 76%;
    height: 60px;
    padding: 4px 10px;
  }
  .gallery-section li {
    width: 100%;
  }
  .banner-home h2 {
    font-size: 26px;
    line-height: 26px;
  }
  .banner-home h3 {
    font-size: 24px;
    line-height:24px;   
  }
    .banner-home h4 {
    font-size:18px;
  }
  .purchase-btn {
    margin-top: 10px;
    padding: 12px 80px !important;
    left: 10%;
  }
  .inner-banner {
    margin-bottom: 30px;
    padding: 16px 0;
  }
  .exp-detail li {
    background-position: 0 4px;
    background-size: 12px auto;
    font-size: 13px;
    padding-left: 18px;
  }
  
  .sl-vac h4 {
    font-size: 14px;
  }
  .vaccancy-section h2 {
    font-size: 18px;
  }
  .vaccancy-section p {
    font-size: 14px;
  }
  .sl-car-left , .sl-car-right{
    width: 100%;
  }
  .footer-text {
    width: 93%;
  }
  .text h3 {
    font-size: 18px;
    margin-bottom: 25px;
  }
  a.service-list {
    letter-spacing: 4px;
  }
  .services_list {
    width: 100%;
  }
  .services_list li {
  font-size: 13px;
  letter-spacing: 1px;
  margin-bottom: 0;
}
  .submit-iner {
    min-width:100%; 
  }
  .about-right {
    text-align: center;
    width: 100%;
  }
  .about-right p {
    font-size: 13px;
    line-height: 18px;
  }
  .footer-img img {
    margin: 7px 16px;
  }
  .footer-social-icon2 i {
    font-size: 19px;
    margin: 0 20px;
  }
  .footer-nav2 ul li {
    padding: 0 16px;
  }
  .footer-nav2 ul li a {
      font-size: 14px;
  }
  .footer-text2 {
      width: 95%;
  }
  .about-left {
    display: none;
  } 
  .about-section {
    padding: 0 35px;
  }
  .team-section h2 {
    font-size: 28px;
  }
  .contact-top {
    padding: 0 50px;
  }
.h2-heading {
  font-size: 18px;
  line-height: 30px;
  margin: 30px 0 10px;
}
.footer-social-icon {
    padding: 15px 0;
}
.footer-nav ul li a {
    font-size: 14px;
}
.nav-box ul li {
  
    font-size: 12px;
    line-height: 13px;
  }

  .skills-set {
    width: 100%;
  }
  nav .nav li a {
    font-size: 18px;
    line-height: 28px;
  }
  .fp-slidesNav.bottom {
    bottom: 5px;
  }
  .terms-links li {
    padding: 0 5px;
  }
  .social-links {
    margin-top: 15px;
  }
  .terms-links {
    font-size: 12px;
    line-height: 18px;
    margin: 15px 0;
    position: relative;
    display: inline-block;
    width: 100%;
    left: 0;
    right: 0;
  }
  .testimonial-section p::before , .testimonial-section p::after {
    width: 24px;
    height: 17px;
  }
  .testimonial-section p {
    font-size: 14px;
    line-height: 26px;
    padding: 20px 0 20px 0;
  }
  .testimonial-section h2 {
    font-size: 12px;
    margin: 0 0 15px 0;
  }
  .testimonial-section h3 {
    font-size: 12px;
        position: relative;
    top: -18px;
  }
  .testimonial-inner {
    padding: 0 5%;
  }
  .gallery-section li {
    width: 100%;
  }
  .banner-home h2 {
    font-size: 26px;
    line-height: 26px;
  }
  .banner-home h3 {
    font-size: 24px;
    line-height:24px;   
  }
  .banner-home h4 {
    font-size:18px;
  }
  .port-inner-page h3 {
    font-size: 21px;
    margin-bottom: 12px;
  }
  .project-logo img {
    max-width: 71%;
    width: 10%;
  }
    p.inner-center-text {
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 0;
  }
  .inner-responsive-right h2 {
      font-size: 30px;
      line-height: 25px;
      margin-top: 20px;
      margin-bottom: 10px;
  }
  .inner-responsive-right p {
      font-size: 16px;
      line-height: 28px;
  }
  .inner-banner p {
    font-size: 16px;
    line-height: 23px;   
    margin-bottom: 10px; 
  }
  .themeforest-btn {
    margin-top:0px;
  }
  a.themeforest-btn:last-child {
    margin-top:15px;
} 
  .inner-banner p:last-child{
   margin-bottom: 20px; 
  }
  .inner-center-text {
      padding: 32px 26px 0;
  }
  .inner-responsive {
    padding: 30px 26px;
    width: 100%;
    text-align: center;
  }
  .inner-bottom-right p {
    font-size: 16px;
    line-height: 26px;
  }
  .inner-responsive-left {
    float: none;
    width: 100%;
    text-align: center;
  }
  .inner-responsive-right {
    float: none;
    width: 100%;
    text-align: center;
  }
  .mobile-view img.project-img {
  max-width: 100%;
  }
  .mobile-device img {
  transform: rotateX(6deg);
  width: 77%;
  }
  .mobile-view {
  height:auto;
  width: 300px;
  }
  .sl-about-left,.sl-about-right,.sl-about-right .group {
  width: 100%;
  }
  .sl-about-right{margin-top:30px;}
  .services-get-tocuh-btn {
    min-width: 249px;
    margin-bottom: 40px;
  }
  .mouckup-get-tocuh-btn{
   min-width: 249px;
    margin-bottom: 40px;
  }
}
@media only screen and (max-width:479px){
  .inner-footer h4 {
    font-size: 22px;
    margin-bottom: 16px;
  }
  .inner-footer a {
    font-size: 16px;
  }
  p.inner-center-text {
    font-size: 14px;
    line-height: 24px;
  }
  .inner-responsive-right p {
    font-size: 14px;
    line-height: 24px;
  }
  .inner-banner p {
    font-size: 14px;
  }
  .inner-responsive-right h2 {
    font-size: 21px;
    margin-bottom: 10px;
    margin-top: 20px;
  }
  .inner-bottom-right p {
    font-size: 14px;
    line-height: 24px;
    margin: 14px 0;
  } 
  .inner-bottom-left {
   width: 100%;
  }
  .inner-bottom {
    margin-bottom: 0px;
    width: 100%;
  padding-right:0;
  }
  .inner-bottom-left {
    float: left;
    width: 100%;
  }
  .inner-bottom-right {
    float: none;
    width: 100%;
    text-align: center;
    padding: 8px 14px;
    display: inline-block;
  }

}
  .dark-bg{
      background-color: #000!important;
    }

@media screen and (min-width: 576px) and (max-width: 767px){
  .nav-left-box ul li {
      padding: 0 22px !important;
  }
  ul.nav {
      width: 100%;
      text-align: center;
  }
  .footer-nav ul li a {
      padding: 5px 3px;
  }
 .web-get-tocuh-btn {
    margin-top: 28px;
    padding:12px 59px !important;
    margin-right:38px;
    margin-bottom: 30px;
  }
  a.web-get-tocuh-btn:last-child {
    margin-top: 28px !important;
  }
  .footer-social-icon i {
      margin: 9px 22px;
  }
}

@media screen and (min-width: 768px) and (max-width:991px){
  .navbar-rotate {
    left: 0;
    font-size: 30px;
  }
  nav .nav li a {
    font-size: 24px;
  }
  .nav-contact a {
    font-size: 21px;
  }
  .center {
    left: 71px;
  }
  ul.nav {
    left: 143px;
  }
  .nav-left-box {
    width: 150px;
  }
  .terms-links {
    bottom: 14px;
  }
  .web-get-tocuh-btn {
    padding: 12px 74px !important;
    margin-right: 30px;
  }
  .inner-bottom-left img {
    top: 48px;
  }
  .inner-bottom-right {
    padding:0px 0; 
  }
  .nav-contact p {
    margin-top: 27px;
  }
  .navbar-btn {
    margin-top: 33px;
}
.center {
    top: 7%;
}
.nav-contact {
    right: -5%;
}
}
@media screen and (max-width:578px){
.nav-left-box ul li {
    padding: 0 10px !important;

  }
   a.web-get-tocuh-btn:last-child {
    margin-top:48px;
    margin-bottom: 30px !important;
}
.web-get-tocuh-btn {
    padding: 12px 50px !important;
    margin-right: 29px;
}
.footer-social-icon2 i {
    font-size: 19px;
    margin: 0 18px;
}
.footer-nav2 ul li {
    padding: 0 8px;
}
 .attch {
    top: 4px;
}
}
@media screen and (max-width:361px){

ul.nav {
    width: 84% !important;
}
.nav-contact {
    left: -82px;
}
.nav-left-box ul li {
    float: left;
    padding: 0 10px !important;
}
.footer-nav2 ul li {
    padding:0 10px;
  }
}
@media screen and (max-width: 1024px){
  .center {
    top: 8% !important;
    left:80px !important;
  }
  .group.full-width {
    display: none;
  }
  nav .nav li a {
    font-size: 25px;
  }
  .navbar-social-icon {
    top: 20% !important;
    left:130px !important;

}
  .inner-bottom-left img {
    top:8px;
  }
  .inner-bottom-right {
    padding:0px 0; 
  }
}
@media screen and (max-width:824px){
.center {
    left: 33px !important;
}
.social-icon {
    top: 42% !important;
}
.footer-text2 {
    width: 95%;
}

  }
@media screen and (max-width:1200px){
  .center {
    top: 10%;
    left:0px;
  }
  .navbar-social-icon {
      top: 30%;
  }
  .main-footer-bg2 {
    position: relative;
}

}
/*@media screen and (min-width: 767px){
  .center {
    top: 10%;
    left:0px !important;
  }
}*/
@media screen and (max-width:415px){
  .center {
      left: 0px !important;
  }
   .footer-nav2 ul li {
    padding: 0 5px;
  }
  .web-get-tocuh-btn {
      padding: 12px 73px !important;
  }
  .web-get-tocuh-btn {
      font-size: 14px !important;
  }
 
  .footer-social-icon2 i {
    font-size: 19px;
    margin: 0 9px;
  }
  .skills-set input[type="checkbox"] + label.label-txt, .skills-set input[type="radio"] + label.label-txt {
    font-size: 13px;
  }
  button.contact-us-btn {
    padding: 12px 85px !important;
  }
  .footer-text2 p {
    padding: 30px 0 0;
  }
}
  @media screen and (max-width: 322px){
  .center {
      left: 0px !important;
  }
  .web-get-tocuh-btn {
      padding: 12px 51px !important;
      font-size: 14px !important;
      margin-top: 30px;
  }
  .footer-nav2 ul li {
    padding: 0 5px;
  }
   a.web-get-tocuh-btn:last-child {
      margin-bottom: 30px !important;
      margin-top: 30px;

  }
  .footer-text2 {
      width: 84%;
      margin: auto;
  }
  .footer-social-icon2 i {
      color: #fff;
      font-size: 16px;
      margin: 0 8px;
  }

  }
@media screen and (min-width:992px) and (max-width:1199px){
    .center {
       top: 28%;
       left: 121px;
   }
}
@media screen and (min-width:768px) and (max-width:770px){

    .center {
      top: 15% !important;
      left: 40px !important;
    }
    .web-get-tocuh-btn:last-child{
      margin-bottom: 30px;
    }
    .web-get-tocuh-btn {
      margin-right: 16px;
    }
}
@media screen and (min-width:1367px) and (max-width: 1920px){
    .center {
        width: 80%;
        float: right;
        position: absolute;
        top: 36%;
        bottom: 50%;
        left: 230px;
        right: 50%;
    }
    .nav-contact {
        right:-11%;
    }
    .navbar-social-icon li {
        padding: 18px 0;
    }
    .navbar-social-icon {
        position: absolute;
        top:35%;
    }
    .footer-text2 {
    margin-bottom: 60px;
  }
  .footer-img2 {
      margin-bottom: 60px;
  }
  .footer-social-icon2 {
      margin-bottom: 60px;
  }
  .footer-nav2 {
        margin-bottom: 60px;
  }
  .footer-nav2 ul li {
      list-style: none;
      display: inline;
      padding: 0 32px;
  }
  .footer-img2 img {
    margin: 0 30px;
}
.footer-social-icon2 i {
    color: #fff;
    font-size: 25px;
    margin: 0 25px;
}
.group {
    margin: 35px 5%;
}
}

@media screen (max-width: 480px){
    .web-get-tocuh-btn {
    margin-top: 28px;
    padding:12px 59px !important;
    margin-right:0px;
    margin-bottom: 30px;
    }
    a.web-get-tocuh-btn:last-child {
    margin-bottom: 0px !important;
    }

}